@font-face {
    font-family: 'CustomCairo';
    src: url('../fonts/Cairo-VariableFont_slnt\,wght.ttf');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'CustomCairo';
}
.Mycontainer{
    max-width: 90%;
    margin: auto;
}
#videoDiv{
    width: 886px;
    height: 498px;
}
#videoDiv iframe{
    width: 100%;
    height: 100%;
}
#getIframe{
    width: 886px;
}